{% extends 'YangBoDreamBlogBundle::layout.admin.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block bodys %}
  <table class="list">
    {% for key,info in system_infos %}
      <tr class="row" >
        <td width="25%">
          {{ key }}
        </td>
        <td>
          {{ info|raw }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}