{% extends 'YangBoDreamBlogBundle::layout.admin.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block bodys %}
  <table class="list">
    <volist name="info" id="v">
      <tr class="row" ><td width="15%"></td><td></td></tr>
    </volist>
  </table>
{% endblock %}