{% block right_links %}
  <h3 class="links">
    <p>友情<span>链接</span></p>
  </h3>
  <ul class="website">
    <li><a href="/">个人博客</a></li>
    <li><a href="/">谢泽文个人博客</a></li>
    <li><a href="/">3DST技术网</a></li>
    <li><a href="/">思衡网络</a></li>
  </ul>
{% endblock %}