<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}标题{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}关键字{% endblock %}" />
    <meta name="description" content="{% block description %}描述{% endblock %}" />
    <link rel="shortcut icon" href="{{ asset('bundles/yangbodreamblog/images/favicon.ico') }}"/>
    {% block stylesheets %}
      <link href="{{ asset('bundles/yangbodreamblog/css/base.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    {% include 'YangBoDreamBlogBundle:Default:top.html.twig' %}
    {% block content %}
    {% endblock %}
    {% include 'YangBoDreamBlogBundle:Default:bottom.html.twig' %}
    {% block javascripts %}
      <!--[if lt IE 9]>
      <script src="{{ asset('bundles/yangbodreamblog/js/modernizr.js') }}"></script>
      <![endif]-->
      <script src="{{ asset('bundles/yangbodreamblog/js/silder.js') }}"></script>
    {% endblock %}
  </body>
</html>