YangBo\Bundle\DreamBlogBundle\Entity\User:
    type: entity
    table: user
    repositoryClass: YangBo\Bundle\DreamBlogBundle\Entity\UserRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        username:
            type: string
            length: 40
            unique: true
        password:
            type: string
            length: 200
        salt:
            type: string
            length: 200
            nullable: true
        nickname:
            type: string
            nullable: true
            length: 40
        sex:
            type: boolean
            nullable: true
        updated_at:
            nullable: true
            type: datetime
        created_at:
            type: datetime
    oneToMany:
        articles:
            targetEntity: Article
            mappedBy: user
    lifecycleCallbacks:
        prePersist: [ setCreatedAtOnPrePersist ]
